kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: qourier-caller
  namespace: qouriers
subjects:
- kind: ServiceAccount
  name: qourier-caller
roleRef:
  kind: Role
  name: qourier-caller
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: qourier-caller
    queries.qouriers.io/keyspace: {{ keyspace }}
  name: qourier-caller-{{ keyspace }}
  namespace: qouriers
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qourier-caller
      queries.qouriers.io/keyspace: {{ keyspace }}
  template:
    metadata:
      labels:
        app: qourier-caller
        queries.qouriers.io/keyspace: {{ keyspace }}
    spec:
      serviceAccountName: qourier-caller
      containers:
      - image: qouriers:latest
        name: caller
        args: 
        - "app.caller:app"
        ports:
        - containerPort: 80
        imagePullPolicy: Never
        env:
          - name: KEY_ID
            value: "0"        # replace this later
          - name: KEYSPACE
            value: {{ keyspace }}
        readinessProbe:
          httpGet:
            path: /ready
            port: 80
          periodSeconds: 5
        volumeMounts:
          - name: podinfo
            mountPath: /etc/podinfo
      volumes:
        - name: podinfo
          downwardAPI:
            items:
              - path: "labels"
                fieldRef:
                  fieldPath: metadata.labels
