apiVersion: v1
kind: Service
metadata:
  labels:
    app: qourier-caller
    queries.qouriers.io/keyspace: {{ keyspace }}
  name: qourier-caller-{{ keyspace }}
  namespace: qouriers
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: qourier-caller
    queries.qouriers.io/keyspace: {{ keyspace }}
status:
  loadBalancer: {}
